:root {
  --yellow-gold-50: #FFFFE7;
  --yellow-gold-100: #FFFECA;
  --yellow-gold-200: #FFECA7;
  --yellow-gold-300: #FFD170;
  --yellow-gold-400: #E8BD6A;
  --yellow-gold-500: #CCB256;
  --yellow-gold-600: #B59A36;
  --yellow-gold-700: #997D1A;

  --brown-gold-50: #F5EFEA;
  --brown-gold-100: #DBCFC3;
  --brown-gold-200: #D5BDA5;
  --brown-gold-300: #D1A77B;
  --brown-gold-400: #A68562;
  --brown-gold-500: #796149;
  --brown-gold-600: #584634;
  --brown-gold-700: #3D3226;

  --pink-gold-50: #FFDCD5;
  --pink-gold-100: #F5BDB3;
  --pink-gold-200: #E6A69C;
  --pink-gold-300: #BD817A;
  --pink-gold-400: #9E615A;
  --pink-gold-500: #93463D;
  --pink-gold-600: #6B2922;
  --pink-gold-700: #4E1812;

  --blue-50: #ECEFFF;
  --blue-100: #C4CDFF;
  --blue-200: #9EADFF;
  --blue-300: #778AF4;
  --blue-400: #5D74F1;
  --blue-500: #514CDB;
  --blue-600: #3632B4;
  --blue-700: #1D198C;

  --red-50: #FFEEEB;
  --red-100: #FFD4CE;
  --red-200: #FFB5AB;
  --red-300: #FF9183;
  --red-400: #FF6C58;
  --red-500: #FF432A;
  --red-600: #E4351E;
  --red-700: #A82615;

  --green-50: #EBFFF2;
  --green-100: #D7FFE5;
  --green-200: #B8F8CE;
  --green-300: #99E8B4;
  --green-400: #69D38D;
  --green-500: #41BE6C;
  --green-600: #25A953;
  --green-700: #188B40;

  --white: #FFFFFF;
  --letters: #2C2C2B;
  --light-gray: #BBBBBB;
  --lines: #959595;
  --gray: #707070;
  --bars: #2A2A2A;
  --background: #101010;
  --black: #000000;

  --darkact: #495A13;
  --action: #6E7433;
  --swact: #778A39;
  --shaw: #CCD5AE;
  --back: #E9EDC9;
  --title: #FEFAE0;
  --fkwhite: #FFFCEE;
  
  --yellow-gold-stripe: linear-gradient(104.04deg, #997D1A 0%, #E8BD6A 36.4%, #FFECA7 51.9%, #FFD170 66.4%, #B59936 100%);
  --yellow-gold-point: radial-gradient(67% 92% at 4% 92%, #FFECA7 0%, #FFD170 9.08%, #CCB256 32.02%, #997D1A 100%);
  --yellow-gold-dark: radial-gradient(69.5% 134.47% at 5.5% 92%, #FFD170 0%, #E8BD6A 13.02%, #997D1A 33.9%, #3D3226 100%);

  --brown-gold-stripe: linear-gradient(104.04deg, #A68562 0%, #D1A77B 36.4%, #DBC0A3 51.9%, #A68562 65.4%, #3D3226 100%);
  --brown-gold-point: radial-gradient(67.5% 95% at 3.5% 95%, #DBC0A3 0%, #D1A77B 11.06%, #A68562 28.21%, #584634 100%);

  --pink-gold-stripe: linear-gradient(104.04deg, #6B2922 0%, #BD817A 36.4%, #F5BDB3 51.9%, #E6A69C 66.4%, #93463D 100%);
  --pink-gold-point: radial-gradient(65% 93.82% at 6% 88%, #F5BDB3 0%, #BD817A 18.4%, #9E615A 34.4%, #6B2922 100%);

  --light-point: radial-gradient(76.5% 148.37% at 95% 9%, #A68562 0%, #796149 6.4%, #3D3226 38.4%, #2A2A2A 100%);
}
